/* Write your CSS here */

.button {
  background-color: transparent;
  color: #7b8794;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #7b8794;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  outline: none;
}
